@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=Lexend+Deca:wght@100&family=Raleway:wght@500&family=Varela+Round&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .main{
    width:max-content;
    grid-template-columns: repeat(8,110px);

  }
  .utils{
    grid-column-start: 1;
    grid-column-end: 4;
    
  }
  .library{
    grid-column-start: 1;
    grid-column-end: 4;
    
  }
  .container{
    grid-column-start: 4;
    grid-column-end: 16;
    margin-right:0;
  }

  .iconInfo{
    font-size:1.1rem
  }
  .icon img{
    height: 28px;
    width: 28px;
  }
  .thumbnail,.song-thumb{
    height: 50px;
    width: 50px;
  }
  .playlist{
    height: 75px;
}
  .playlist-content{
    font-size: 0.9rem;
    padding-right:5px;
    
  }
  .playlist-content h3{
    font-size: 1rem;
    padding-right:5px;
    margin-bottom:6px
    
  }

  .player{
    width:max-content;
  }
  .song-list,.song{
    display:grid;
    grid-template-columns:  50px 400px 250px 80px;
  }
}


@media(max-width: 425px){
  .main{
    grid-template-columns:auto;
    margin:0;
    padding:5px 3px 0 5px;
    width:401vw;
    height:400vh;
    grid-template-rows: auto;
  }
  .library,.utils{
    display:none;
  }
  .container{

    width:400vw;
    grid-column-start: 1;
    grid-row-end:10;
    margin-right:0;
    
  }
  .playlist-head{
    height: 120vh
  }
  .thumb{
    height: 100vh;
    width: 100vh;
  }
  .thumb-title{
    font-size:4rem;
  }
  
  .player{

    height:30vh;
    font-size:1.2rem;
    width:inherit;
    padding-bottom:15vh
    
  }
  .song,.song-list{
    height: 35vh;
    font-size:3rem;
    display:grid;
    grid-template-columns:  5vw 200vw 0 20vw;
    margin-bottom:3.5rem
    
  }
  .alb{
    display:none;
  }
  .progressbar{
    
    grid-row-start:14;
    grid-row-end:14;
    height:4vh;
    justify-content:right;
    margin-right:10vw;
    padding-bottom:10vh
  }
  .progressbar input{
    width:200vw
  }
  .extracontrols{
    display:none;
  }
  .controls{
    margin-top:10vh;
    width:200vw;
  }
  .songInfo{
    display: flex;
    height: 20vh;
    width: fit-content;

    font-size:2.3rem;
    margin-left: 0px;
    margin-top: 20vh;
  }

  .control img{
    height:13vh;
    width:13vh;
    margin-right:10vw;
  }
  .song-thumb{
    height: 30vh;
    width: 30vh;
    margin-right:10vh;
 
  }
}
